.card {
  cursor: pointer;
  border-image: linear-gradient(
      180deg,
      hsla(0, 0%, 87.1%, 0) 0,
      #dedede 25%,
      #dedede 70%,
      hsla(0, 0%, 87.1%, 0) 85%,
      hsla(0, 0%, 87.1%, 0)
    )
    1 100%;
}
.the-temp {
  color: #1b4de4;
  font-size: 2.25rem;
  line-height: 0.83em;
  font-weight: 400;
}

.min-temp {
  font-weight: 400;
  color: gray;
}
.max-temp {
  font-weight: 500;
}
.card-title {
  font-weight: 300;
}
.currentDay .card-title {
  font-weight: 700;
}
.currentDay .the-temp {
  font-weight: 700;
}
.card .card-title {
  border-bottom: 1px solid grey;
}
.currentDay .card-text {
  font-weight: 700;
}
