.card {
  cursor: pointer;
}
.the-temp {
  color: #1b4de4;
  font-size: 2.25rem;
  line-height: 0.83em;
  font-weight: 400;
}

.min-temp {
  font-weight: 400;
  color: gray;
}
.max-temp {
  font-weight: 500;
}
.card-title {
  font-weight: 300;
}
.currentDay .card-title {
  font-weight: 500;
  background-color: rgb(128, 128, 128);
}
.currentDay .the-temp {
  font-weight: 700;
}
.card .card-title {
  border-bottom: 1px solid grey;
}
