.weather-list {
  margin-top: 24px;

  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
}
.city-title {
  text-align: justify;
  padding: 24px 0 0 24px;
}
.card-group {
  padding: 0 24px;
}
